<div style="height:80px">aa</div>
<div class="uk-child-width-expand@s uk-text-center uk-grid-collapse" uk-grid>

    <div>
        <mat-form-field color="accent" appearance="fill" style="width:90%;">
            <mat-label>Data dell'evento</mat-label>
            <input matInput [matDatepicker]="picker1">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field color="accent" appearance="fill" style="width:90%">
            <mat-label>Alimento</mat-label>
            <mat-select>
              <mat-option value="option1">alimento1</mat-option>
              <mat-option value="option2">alimento2</mat-option>
              <mat-option value="option3">alimento3</mat-option>
              <mat-option value="option4">alimento4</mat-option>
              <mat-option value="option5">alimento5</mat-option>

            </mat-select>
          </mat-form-field>
        
    </div>
    <div>
        <div class="uk-card uk-card-default uk-card-body">Item</div>
    </div>
</div>
<div class="uk-child-width-expand@s uk-text-center uk-grid-collapse" uk-grid>
    <div>
        <div class="uk-card uk-card-default uk-card-body">Item</div>
    </div>
    <div>
        <div class="uk-card uk-card-default uk-card-body">Item</div>
    </div>
    <div>
        <div class="uk-card uk-card-default uk-card-body">Item</div>
    </div>
</div>
<div class="uk-child-width-expand@s uk-text-center uk-grid-collapse" uk-grid>
    <div>
        <div class="uk-card uk-card-default uk-card-body">Item</div>
    </div>
    <div>
        <div class="uk-card uk-card-default uk-card-body">Item</div>
    </div>
    <div>
        <div class="uk-card uk-card-default uk-card-body">Item</div>
    </div>
</div>
<div class="uk-child-width-expand@s uk-text-center uk-grid-collapse" uk-grid>

    <div>
        <div class="uk-card uk-card-default uk-card-body">Item</div>
    </div>
    <div>
        <div class="uk-card uk-card-default uk-card-body">Item</div>
    </div>
    <div>
        <div class="uk-card uk-card-default uk-card-body">Item</div>
    </div>
</div>


