<div class="uk-grid-collapse" uk-grid id="bar">
  <div class="uk-width-1-6">
      <span class="uk-margin-top uk-margin-left" style="cursor: pointer;" uk-icon="icon: menu; ratio: 1.5" uk-toggle="target: #offcanvas-usage"></span>
   


    
  </div>
  <div class="uk-width-1-2 uk-text-left uk-margin-top">
      <h2>Baby Food</h2>
  </div>
  <div class="uk-width-1-6 uk-text-right">
    <span class="uk-margin-left uk-margin-top" uk-icon="icon: home; ratio:1.5"></span>
  </div>
  <div class="uk-width-1-6 uk-text-center">
    <span class="uk-margin-left uk-margin-top" uk-icon="icon: sign-in; ratio: 1.5"></span>
  </div>
</div>


<div id="offcanvas-usage" uk-offcanvas>
  <div class="uk-offcanvas-bar">

      <button class="uk-offcanvas-close" type="button" uk-close></button>
      <a href="#"><h3>Menu 1</h3></a>
  </div>
</div>